<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!-- Connects to web socket -->
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
              socket.emit('my event', {data: 'Connected'});
        });
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Flack</title>


  </head>
  <body>
    <div class="container jumbotron">
      <div>
        <nav>
          <div>
            <h3 id="userID"></h3>
              <form id="new_room">
                <input id="room_name" required type="text" autocomplete="off">
                <button type="submit">Create Room</button>
              </form>
              <h3>Rooms</h3>
              <ul id="room_list">
                {% for room in rooms %}
                <li><a onclick="setCurrentRoom('{{ room.room }}')" href="{{ room.room }}" id="{{ room.room }}" data-page="{{ room.room }}">{{ room.room }}</a></li>
                {% endfor %}
              </ul>
          </div>
        </nav>
      </div>
    </div>




  </body>
</html>
